.nav_link{
  font-size: 45px;
  color: #e6e6e6;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.nav_link:hover{
  color: #fff;
  text-decoration: none;
}

.navvbar{
  padding: 0rem 1rem;
}

.navlink{
  font-size: 70px;
  color: #e6e6e6;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navlink:hover{
  color: #fff;
  text-decoration: none;
}

.vl {
	border-left: 6px solid rgb(22, 20, 20);
	height: 90vh;
	left: 50%;
	margin-left: -3px;
	top: 0;
  }

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login,
.register {
  width: 400px;
}

.login h2,
.register h2 {
  font-size: 45px;
  text-transform:capitalize;
  text-align: center;
  width: 100%;
}

.login a {
  text-align: center;
}

input[type='text'] {
  background-color: #e6e6e6;
  color: #827ffe;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
  padding: 20px 30px;
}

input[type='password'] {
  background-color: #e6e6e6;
  padding: 20px 30px;
  color: #827ffe;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
}

input[type='submit'] {
  padding: 15px 0px;
  background-color: #827ffe;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
}

.check {
  font-size: 16px;
}


